* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body { 
  background-color: #DDDDDD;
  height: auto;
  margin-bottom: none;

   }


.controls {
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 8px;
  background-color: transparent;
}

.cbcontrol {
  font-size: 17px;
  font-weight: lighter;
  float: left;
  color: #b0b0b0;
  width: 50%;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  margin-bottom: 10px;
}

#cbControlRight { 
  text-align: right;
  padding-right: 15px; 
}
#cbControlLeft { 
  text-align: left;
  padding-left: 15px;
 }

.cbcontrol:hover { 
  cursor: crosshair;
  color: #F0F0F0;
 }

.stage {
  background-color: transparent;
  float: left;
  height: 600px;
  overflow: hidden;
  width: 100%;
  padding-top: 10px;
  z-index: 9999;
  position: relative;
  -webkit-backface-visibility: hidden;
}

section { 
  margin-top: 10px; 
}

img:hover {
  cursor: crosshair;
  color: #F0F0F0;
}

.cbImage {
  width: 270px;
  max-height: 500px;
  float: left;
  margin: 25px 0px 25px 0px;
  color: white;
 /* box-shadow: 0px 2.5px 5px 0px #D6D6D6;*/
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.cbImage img {
  width: 100%;
  height: auto;
  max-height: 500px;
  padding-top: 20px;
  padding-bottom: 20px;

}
/*img:hover {
  box-shadow: 0 1px 5px 1px white;
  }*/
/*  .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}*/
.cbImage:active {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  cursor: crosshair;
  z-index: 1000;
}

.inactiveLeft {
  -webkit-transform: perspective(500px) rotateY(60deg);
  -O-transform: perspective(500px) rotateY(60deg);
  transform: perspective(500px) rotateY(60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
/*  box-shadow: 0 1px 3px 1px #696969;*/
  width: 100px;
  height: 138px;
}

.inactiveRight {
  -webkit-transform: perspective(500px) rotateY(-60deg);
  -O-transform: perspective(500px) rotateY(-60deg);
  transform: perspective(500px) rotateY(-60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
/*  box-shadow: 0 1px 3px 1px #696969;*/
  width: 200px;
  height: 268px;
}

.active {
  z-index: 100;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -O-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 450px;
  height: 280px;
}
.active img {
  width: 100%
  height: auto;
}

.intro { color: #fff; }
span {
  padding: 5px;
}
footer {
  background-color: transparent;
}
#name {
  font-size: 15px;
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 0.8em;
}
#phone {
  font-size: 15px;
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 0.8em;
}
#email {
  font-size: 15px;
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 0.8em;
  }
  span:hover { 
    color: #F0F0F0;
    cursor: crosshair;
    font-weight: bold;    
  }

  @media (min-width: 1450px) {

.stage {
  background-color: transparent;
  float: left;
  height: 600px;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  margin-top: 50px;
  z-index: 10;
  position: relative;
  -webkit-backface-visibility: hidden;
   }
   .cbImage {
  width: 270px;
  max-height: 500px;
  float: left;
  margin: 25px 0px 25px 0px;
  color: white;
 /* box-shadow: 0px 2.5px 5px 0px #D6D6D6;*/
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}

.cbImage img {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
  .active {
  z-index: 100;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -O-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 500px;
  height: 378px;
/*  max-width: 650px;
  max-height: 678px;*/
  }
  .active img {
    width: 100%;
  height: auto;
  }

  .cbcontrol {
  font-size: 37px;
  margin-bottom: 30px;
  margin-top: 0px;
}

#cbControlRight { 
  text-align: right;
  padding-right: 35px; 
}
#cbControlLeft { 
  text-align: left;
  padding-left: 35px;
 }

#name, #phone, #email {
  font-size: 25px;
 }

}
