* {
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body { 
  background-color: #DDDDDD;
  height: auto;
  margin-bottom: none;
/*  overflow: hidden;*/

   }

/*#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}*/

/*.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}*/
/*.jquery-script-center a {
  text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}*/

.clear { clear: both; }

.controls {
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.cbcontrol {
  font-size: 17px;
  font-weight: lighter;
  float: left;
  color: #b0b0b0;
  width: 50%;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
}

#cbControlRight { 
  text-align: right;
  padding-right: 15px; 
}
#cbControlLeft { 
  text-align: left;
  padding-left: 15px;
 }

.cbcontrol:hover { 
  cursor: crosshair;
  color: #F0F0F0;
 }

.stage {
  background-color: transparent;
  float: left;
  height: 600px;
  overflow: hidden;
  width: 100%;
  padding-top: 25px;
  z-index: 10;
  position: relative;
  -webkit-backface-visibility: hidden;
}

section { 
  margin-top: 10px; 
}

.cbImage {
  width: 170px;
  height: 238px;
  float: left;
  margin: 25px 0px 25px 0px;
  color: white;
 /* box-shadow: 0px 2.5px 5px 0px #D6D6D6;*/
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

}
img:hover {
  cursor: crosshair;
  color: #F0F0F0;
}

.cbImage img {
  width: 100%;
  height: 100%;
  padding-top: 20px;

}
/*img:hover {
  box-shadow: 0 1px 5px 1px white;
  }*/
/*  .hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}*/
.cbImage:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: crosshair;
}

.inactiveLeft {
  -webkit-transform: perspective(500px) rotateY(60deg);
  -O-transform: perspective(500px) rotateY(60deg);
  transform: perspective(500px) rotateY(60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
/*  box-shadow: 0 1px 3px 1px #696969;*/
  width: 100px;
  height: 138px;
}

.inactiveRight {
  -webkit-transform: perspective(500px) rotateY(-60deg);
  -O-transform: perspective(500px) rotateY(-60deg);
  transform: perspective(500px) rotateY(-60deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
/*  box-shadow: 0 1px 3px 1px #696969;*/
  width: 200px;
  height: 268px;
}

.active {
  z-index: 100;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -O-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
  -webkit-transition: all .5s ease-out;
  -O-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 450px;
  height: 478px;
/*  box-shadow: 0 2px 3px 2px #696969;*/

}

.intro { color: #fff; }
span {
  padding: 5px;
}
#name {
  font-size: 15px;
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 0.8em;
}
#phone {
  font-size: 15px;
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 0.8em;
}
#email {
  font-size: 15px;
  position: relative;
  float: left;
  width: 33.33333333%;
  text-align: center;
  font-size: 0.8em;
  }
  span:hover { 
    color: #F0F0F0;
  /*  transform: skew(+15deg);*/
    cursor: crosshair;
    font-weight: bold;
    /*transition: all 0.4s;  */
  }
